@font-face {
    font-family: 'gridfont';
    src: url(../font/OtomanopeeOne-Regular.ttf);
}

@font-face {
    font-family: 'defsfont';
    src: url(../font/Oswald-VariableFont_wght.ttf);
}

#board-container {
    position: relative;
}

.board-layer {
    position: absolute;
    left: 0;
    right: 0;
}

#admin-input {
    width: 100px;
    height: 100px;
    color: grey;
}
#help , #author , #commands{
    text-align: center;
    font-family: 'defsfont';
    font-size:12px;
    color: grey;
}
#grid-name{
    text-align: center;      
    font-family: 'gridfont';
    font-size: 20px;;
}
html,body{
    margin : 0;
    padding : 0;
    font-size:12px;
}


#uibox{
    min-height : 10rem;
    min-width : 10rem;
    position : absolute ;
    left : 10px;
    top : 10px ;
    background-color : orange;
}
#ui-handle{
    width : 1rem;
    height : 1rem;
    background-color: blueviolet;
    left:0;
    top:0;
}
.ui-folded{
    width : 1rem !important;
    height : 1rem !important;
}
#ui-content {
    padding: 1rem;
}
#ui-content a{
    text-decoration: none;
}
.link-but {
    padding: 0px .5rem;
    background: white;
    margin: 0px 0.3rem;
    border-radius: 3px;
}
.selected-option{
    background-color: blueviolet;
    color: white;
}

.def-block{
    margin: .5rem;
    background: rgba(255,255,255,0.3);
    padding: .5rem;
    border-radius: .8rem;
}
.def-table{
    text-align: center;
    margin: 0px auto;
}
.def-table tr:first-child td:first-child,
.def-table tr:first-child td:last-child {
    width : 2rem;
}

.def-table tr:first-child,
.def-table tr:last-child {
    height : 2rem ;
}

.def-table tr:first-child td:nth-child(2){
    width : 6rem;
}
.def-table tr:nth-child(2) td:nth-child(1){
    height : 6rem;
}
.def-table tr:nth-child(2) td:nth-child(2){
    background-color: white;
    padding : .5rem;
}

.dir-but{
    width : 1rem;
    height : 1rem;
    display: inline-block;
    background-size: contain;
    margin : 0.5rem;
}
.dir-but-N{
    background-image: url(../i/N.png);
}
.dir-but-E{
    background-image: url(../i/E.png);
}
.dir-but-W{
    background-image: url(../i/W.png);
}
.dir-but-S{
    background-image: url(../i/S.png);
}
.dir-but-selected{
    background-color: white;
    /*border: 2px blueviolet solid;*/
}
.table-input{
    width : 5rem;
    height : 5rem;
    font-family: 'defsfont';
    font-size: 1rem;
}
#cell-type {
    margin-bottom : 1rem ;
}

#create-header{
    background-image: url(../i/logo-jcxword-256.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;

    padding-top: 256px;
    text-align: center;      
    font-family: 'gridfont';
    font-size: 1.5rem;
}

#create-header a {
    text-decoration: none ;
    margin : 0px 1.5rem ;
    background : #ff6600ff;
    padding: .5rem 1rem;
    border-radius: .3rem;
    color:white;
    cursor: pointer;
} 


#mobile-banner{
    margin : 0 ;
    padding : 0 ;
    background-color: black;
    color: coral;
}
/* mobile keyboard */
.keyb-container {
    display: flex;
    position: relative;
    width : 28rem;
    flex-wrap: wrap;
}

.mob-key {
    background-color: #c6c6c6;
    width: 2.4rem;
    height: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    border-radius: 5px;
    padding: 0 0.1rem;
    margin: 0.1rem 0.1rem;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }